---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="404" bodyClass="list">
  <div class="not-found-bg"></div>
  <div class="not-found">
    <div class="not-found-title">404</div>
    <div class="not-found-subtitle">Die Oper ist vorbei.</div>
  </div>
</BaseLayout>
