---
import ListLayout from '../layouts/ListLayout.astro';
---
<ListLayout title="Suche">
  <header class="page-header">
    <h1>
      Suche&nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </h1>
  </header>

  <div id="search"></div>

  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script is:inline src="/pagefind/pagefind-ui.js"></script>
  <script is:inline>
    window.addEventListener('DOMContentLoaded', () => {
      new PagefindUI({
        element: '#search',
        showSubResults: true,
      });
    });
  </script>
</ListLayout>
