---
const year = new Date().getFullYear();
---
<footer class="nl-footer">
  <div class="nl-footer-links">
    <a href="/impressum/">Impressum</a>
    <a href="/datenschutz/">Datenschutz</a>
    <a href="/rss.xml" aria-label="RSS Feed">RSS</a>
    <a href="https://byhumannotai.com" class="nl-footer-human">
      <img src="/images/made-by-human.png" alt="Made by Human" width="438" height="103" />
    </a>
  </div>
</footer>
