---
import { formatDate } from '../utils/formatDate';

interface Props {
  date: Date;
  readingTime?: number;
  author?: string;
}

const { date, readingTime, author = 'Phil Baum' } = Astro.props;

const formattedDate = formatDate(date);
---
<span title={date.toISOString()}>{formattedDate}</span>
{readingTime !== undefined && (
  <Fragment>
    <span>&nbsp;·&nbsp;</span>
    <span>{readingTime} Min. Lesezeit</span>
  </Fragment>
)}
{author && (
  <Fragment>
    <span>&nbsp;·&nbsp;</span>
    <span>{author}</span>
  </Fragment>
)}
